---
import Container from "@components/container.astro";
import Link from "@components/ui/link.astro";
---

<Container>
  <section
    class="flex flex-col items-start justify-between gap-4 rounded-lg bg-neutral-900 p-6 text-white sm:items-center md:flex-row"
  >
    <div class="flex flex-wrap items-center gap-4">
      <div class="overflow-hidden rounded-full">
        <svg width="56" height="56" viewBox="0 0 56 56" fill="none" xmlns="http://www.w3.org/2000/svg">
          <rect width="56" height="56" fill="white"></rect>
          <path
            d="M16.7137 43.0352C17.6304 42.5916 17.9853 41.8671 17.9853 40.6103V17.1011C17.9853 13.8334 19.8039 12 23.0863 12H38.8922C42.1747 12 44.0081 13.8334 44.0081 17.1011V37.9489C44.0081 41.2165 42.1747 43.0352 38.8922 43.0352H16.7137ZM24.7571 21.7142H37.2362C37.872 21.7142 38.3599 21.2115 38.3599 20.5757C38.3599 19.9547 37.872 19.4668 37.2362 19.4668H24.7571C24.1065 19.4668 23.6186 19.9547 23.6186 20.5757C23.6186 21.2115 24.1213 21.7142 24.7571 21.7142ZM11.1691 26.4604C11.1691 23.6807 13.0912 22.2613 14.9986 22.2613H15.2499V38.496C15.2499 39.9745 14.1262 40.5512 13.2243 40.5512C12.3076 40.5512 11.1691 39.9745 11.1691 38.496V26.4604ZM24.7571 26.2978H37.2362C37.872 26.2978 38.3599 25.8098 38.3599 25.1888C38.3599 24.5678 37.872 24.0651 37.2362 24.0651H24.7571C24.1213 24.0651 23.6186 24.5678 23.6186 25.1888C23.6186 25.8098 24.1065 26.2978 24.7571 26.2978ZM32.8153 30.8961H37.2362C37.872 30.8961 38.3452 30.4082 38.3452 29.802C38.3452 29.1514 37.872 28.6635 37.2362 28.6635H32.8153C32.1647 28.6635 31.6768 29.1514 31.6768 29.802C31.6768 30.4082 32.1795 30.8961 32.8153 30.8961ZM25.3633 35.4205H28.3648C29.4442 35.4205 30.1243 34.7404 30.1243 33.6462V30.423C30.1243 29.3436 29.4442 28.6635 28.3648 28.6635H25.3633C24.284 28.6635 23.6038 29.3436 23.6038 30.423V33.6462C23.6038 34.7404 24.284 35.4205 25.3633 35.4205ZM32.8153 35.391H37.2362C37.872 35.391 38.3452 34.903 38.3452 34.282C38.3452 33.6462 37.872 33.1583 37.2362 33.1583H32.8153C32.1795 33.1583 31.6768 33.6462 31.6768 34.282C31.6768 34.903 32.1647 35.391 32.8153 35.391Z"
            fill="#009CCD"></path>
        </svg>
      </div>
      <h2 class="text-2xl font-bold">Complete the course in 6 hours and get your certificate instantly.</h2>
    </div>
    <Link href="https://course.hiphopdriving.com/preview" style="outline" class="border-white text-white"
      >Start Course</Link
    >
  </section>
</Container>
