---
import Container from "@components/container.astro";
import type { Faq } from "strapi";

type Props = { faqs: Array<Faq> };
const { faqs } = Astro.props;
---

<Container>
  <ul class="flex flex-col space-y-8 sm:mx-12">
    {
      faqs.map((faq) => {
        return (
          <li>
            <details>
              <summary class="inline-flex list-none items-center gap-8 text-pretty text-3xl font-bold sm:text-5xl">
                <span>{faq.question}</span>
                <div id="icon" class="size-10" />
              </summary>
              <p class="mt-8 inline-block border-t border-black pt-8 text-lg">{faq.answer}</p>
            </details>
          </li>
        );
      })
    }
  </ul>
</Container>

<style>
  details summary {
    cursor: pointer;
  }

  details summary > * {
    display: inline;
  }

  details summary::-webkit-details-marker {
    display: none;
  }

  #icon {
    background-image: url("/faq-closed.svg");
    background-repeat: no-repeat;
  }

  li:has(details[open]) #icon {
    background-image: url("/faq-open.svg");
    transform: rotate(45deg);
  }
</style>
