---
// @ts-ignore
import Container from "@components/container.astro";
import { Icon } from "astro-icon/components";

const features = [
  {
    title: "Texas TDLR Approved",
    description: "We're legit",
    icon: "ph:seal-check-fill",
  },
  {
    title: "Guaranteed Lowest Price",
    description: "Seriously!",
    icon: "ph:credit-card-fill",
  },
  {
    title: "Guaranteed Shortest Course",
    description: "Required by law.",
    icon: "ph:clock-fill",
  },
  {
    title: "Ticket Dismissed Guaranteed",
    description: "Or your money back.",
    icon: "ph:shield-check-fill",
  },
];
---

<Container>
  <ul class="grid gap-12 sm:grid-cols-2 md:grid-cols-4">
    {
      features.map((item) => (
        <li class="flex flex-col items-center gap-2">
          <div class="mt-1 shrink-0 grow-0 rounded-full border border-black p-4">
            <Icon class="size-10 text-brand-blue" name={item.icon} />
          </div>
          <div class="text-center">
            <h3 class="text-2xl font-semibold">{item.title}</h3>
            <p class="mt-2 text-lg leading-relaxed">{item.description}</p>
          </div>
        </li>
      ))
    }
  </ul>
</Container>
