---
// @ts-ignore
import Container from "@components/container.astro";
import { Icon } from "astro-icon/components";
import type { Feature } from "strapi";

type Props = { features: Array<Feature> };
const { features } = Astro.props;
---

<Container>
  <ul class="grid gap-12 sm:grid-cols-2 md:grid-cols-4">
    {
      features.map((item) => (
        <li class="flex flex-col items-center gap-2">
          <div class="mt-1 shrink-0 grow-0 rounded-full border border-black p-4">
            <Icon class="size-10 text-brand-blue" name={item.icon} />
          </div>
          <div class="text-center">
            <h3 class="text-2xl font-semibold">{item.title}</h3>
            <p class="mt-2 text-lg leading-relaxed">{item.subtitle}</p>
          </div>
        </li>
      ))
    }
  </ul>
</Container>
