---
import { Icon } from "astro-icon/components";
import type { FeatureCard } from "strapi";

type Props = { featureCards: Array<FeatureCard> };
const { featureCards } = Astro.props;
---

<div class="mt-12 w-full bg-brand-yellow py-8">
  <div class="mx-auto max-w-screen-xl">
    <h2 class="text-balance px-4 text-center text-5xl font-bold leading-tight md:text-7xl">
      Texas Online Defensive Driving Course.
    </h2>
    <ul class="mt-8 grid gap-6 px-4 sm:grid-cols-2">
      {
        featureCards.map((item) => (
          <li class="space-y-1.5 rounded-lg bg-white p-6 shadow-[0px_4px_9px_0px_#00000015]">
            <Icon class="size-6 text-brand-blue" name="ph:seal-check-fill" />
            <div>
              <h3 class="text-2xl font-semibold">{item.title}</h3>
              <p class="mt-2 text-lg leading-relaxed">{item.subtitle}</p>
            </div>
          </li>
        ))
      }
    </ul>
  </div>
</div>
