---
import Container from "@components/container.astro";
import type { Slide } from "strapi";

type Props = { slides: Array<Slide> };
const { slides } = Astro.props;
---

<Container>
  <ul id="slide-container" class="flex w-full snap-x snap-mandatory flex-nowrap gap-4 overflow-x-scroll">
    {
      slides.map((slide, index) => (
        <li class="w-full flex-[0_0_280px] snap-start space-y-7 pb-4" data-slide={index}>
          <div class="flex h-44 w-full items-center justify-center rounded-lg bg-gray-200">
            <img
              src={slide.image?.data?.attributes?.url || "/slider_placeholder.jpeg"}
              alt={slide.image?.data?.attributes?.alternativeText || slide.title}
              class="h-44 w-full rounded-lg object-cover object-center"
            />
          </div>
          <div>
            <h3 class="text-[32px] leading-9.5 font-bold">{slide.title}</h3>
            <p class="text-sm font-light">{slide.subtitle}</p>
          </div>
          <p class="text-lg font-medium">{slide.description}</p>
        </li>
      ))
    }
  </ul>
</Container>
