---
import Footer from "@components/footer.astro";
import Navbar from "@components/navbar.astro";
import "@fontsource-variable/inter/index.css";
import { SEO } from "astro-seo";

export interface Props {
  title: string;
}

const canonicalURL = new URL(Astro.url.pathname, Astro.site).toString();

const resolvedImageWithDomain = new URL("/opengraph.png", Astro.site).toString();

const { title } = Astro.props;

const makeTitle = title ? title + " | " + "Hip Hop Defensive Driving" : "Hip Hop Defensive Driving";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link
      media="(prefers-color-scheme: dark)"
      rel="icon"
      href="data:image/svg+xml,<svg width='29' height='29' viewBox='0 0 29 29' fill='none' xmlns='http://www.w3.org/2000/svg'>
<path d='M14.4491 28.5908C6.62295 28.5908 0.20694 22.1606 0.20694 14.3486C0.20694 6.52251 6.62295 0.106506 14.4491 0.106506C22.2752 0.106506 28.6912 6.52251 28.6912 14.3486C28.6912 22.1606 22.2752 28.5908 14.4491 28.5908ZM6.27042 8.38386C5.79098 9.01841 6.0025 9.69526 6.72165 9.69526H22.1342C22.8674 9.69526 23.0789 9.01841 22.5995 8.36976C20.7382 5.78926 17.7487 4.20993 14.4209 4.20993C11.093 4.20993 8.10356 5.78926 6.27042 8.38386ZM14.435 17.3945C15.8451 17.3945 16.9873 16.2664 16.9873 14.8281C16.9873 13.4321 15.8451 12.2899 14.435 12.2899C13.0249 12.2899 11.8827 13.4321 11.8827 14.8281C11.8827 16.2664 13.0249 17.3945 14.435 17.3945ZM24.066 17.183C24.2493 16.5343 23.9391 16.2523 23.361 16.3369C20.0613 16.8022 17.5795 19.6789 17.6218 23.049C17.6218 23.599 18.0166 23.9092 18.5525 23.6413C21.2881 22.3581 23.2764 20.0314 24.066 17.183ZM4.8039 17.183C5.59356 20.0314 7.58182 22.3581 10.3174 23.6413C10.8533 23.9092 11.2481 23.599 11.2481 23.049C11.2904 19.6789 8.80862 16.8022 5.50896 16.3369C4.93081 16.2523 4.63469 16.5343 4.8039 17.183Z' fill='white'/>
</svg>
"
    />
    <link
      media="(prefers-color-scheme: light)"
      rel="icon"
      href="data:image/svg+xml,<svg width='29' height='29' viewBox='0 0 29 29' fill='none' xmlns='http://www.w3.org/2000/svg'>
<path d='M14.4491 28.5908C6.62295 28.5908 0.20694 22.1606 0.20694 14.3486C0.20694 6.52251 6.62295 0.106506 14.4491 0.106506C22.2752 0.106506 28.6912 6.52251 28.6912 14.3486C28.6912 22.1606 22.2752 28.5908 14.4491 28.5908ZM6.27042 8.38386C5.79098 9.01841 6.0025 9.69526 6.72165 9.69526H22.1342C22.8674 9.69526 23.0789 9.01841 22.5995 8.36976C20.7382 5.78926 17.7487 4.20993 14.4209 4.20993C11.093 4.20993 8.10356 5.78926 6.27042 8.38386ZM14.435 17.3945C15.8451 17.3945 16.9873 16.2664 16.9873 14.8281C16.9873 13.4321 15.8451 12.2899 14.435 12.2899C13.0249 12.2899 11.8827 13.4321 11.8827 14.8281C11.8827 16.2664 13.0249 17.3945 14.435 17.3945ZM24.066 17.183C24.2493 16.5343 23.9391 16.2523 23.361 16.3369C20.0613 16.8022 17.5795 19.6789 17.6218 23.049C17.6218 23.599 18.0166 23.9092 18.5525 23.6413C21.2881 22.3581 23.2764 20.0314 24.066 17.183ZM4.8039 17.183C5.59356 20.0314 7.58182 22.3581 10.3174 23.6413C10.8533 23.9092 11.2481 23.599 11.2481 23.049C11.2904 19.6789 8.80862 16.8022 5.50896 16.3369C4.93081 16.2523 4.63469 16.5343 4.8039 17.183Z' fill='black'/>
</svg>
"
    />
    <meta name="generator" content={Astro.generator} />

    <link rel="preload" as="image" href={"/faq-open.svg"} />
    <SEO
      title={makeTitle}
      description="Hip Hop Defensive Driving is the #1 Music Themed Texas Defensive Driving Course."
      canonical={canonicalURL}
      openGraph={{
        basic: {
          url: canonicalURL,
          type: "website",
          title: `Hip Hop Defensive Driving`,
          image: resolvedImageWithDomain,
        },
        image: {
          alt: "Hip Hop Defensive Driving Homepage Screenshot",
        },
      }}
    />
  </head>
  <body>
    <Navbar />
    <slot />
    <Footer />
    <style is:global>
      img {
        content-visibility: auto;
      }
    </style>
  </body>
</html>
