---
import Footer from "@components/footer.astro";
import Navbar from "@components/navbar.astro";
import "@fontsource-variable/inter/index.css";
import { SEO } from "astro-seo";

export interface Props {
  title: string;
}

const canonicalURL = new URL(Astro.url.pathname, Astro.site).toString();

const resolvedImageWithDomain = new URL("/opengraph.png", Astro.site).toString();

const { title } = Astro.props;

const makeTitle = title ? title + " | " + "Hip Hop Defensive Driving" : "Hip Hop Defensive Driving";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="/favicon.ico" sizes="any" />
    <link rel="icon" href="/icon.svg" type="image/svg+xml" />
    <link rel="apple-touch-icon" href="/apple-touch-icon.png" />
    <link rel="manifest" href="/manifest.webmanifest" />
    <meta name="generator" content={Astro.generator} />

    <link rel="preload" as="image" href={"/faq-open.svg"} />
    <SEO
      title={makeTitle}
      description="Hip Hop Defensive Driving is the #1 Music Themed Texas Defensive Driving Course."
      canonical={canonicalURL}
      openGraph={{
        basic: {
          url: canonicalURL,
          type: "website",
          title: `Hip Hop Defensive Driving`,
          image: resolvedImageWithDomain,
        },
        image: {
          alt: "Hip Hop Defensive Driving Homepage Screenshot",
        },
      }}
    />
  </head>
  <body>
    <Navbar />
    <slot />
    <Footer />
    <style is:global>
      img {
        content-visibility: auto;
      }
    </style>
  </body>
</html>
