---
interface Props {
  href: string;
  size?: "md" | "lg";
  block?: boolean;
  style?: "outline" | "primary" | "inverted" | "muted";
  class?: string;
  [x: string]: any;
}

const { href, block, size = "lg", style = "primary", class: className, ...rest } = Astro.props;

const styles = {
  outline: "bg-transparent border-4 border-brand-yellow text-black rounded-full text-sm font-bold px-6 py-2",
  primary:
    "bg-brand-yellow text-black hover:bg-brand-yellow/80 rounded-full font-bold text-xl tracking-[-4%] py-4 px-20 shadow-[0px_1px_0px_0px_#FFFFFFB2_inset,0px_-3px_0px_0px_#A16A0040_inset] active:shadow-[0px_1px_0px_0px_#FFFFFFB2_inset] active:translate-y-px",
};
---

<a
  href={href}
  {...rest}
  class:list={[
    "text-center ring-blue-700 ring-offset-2 transition duration-75 ease-out focus-visible:ring-2",
    styles[style],
    className,
  ]}
  ><slot />
</a>
